body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

.tarjeta-pendiente {
    transition: transform 0.3s ease;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.tarjeta-pendiente:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.imagen-pendiente-contenedor {
    /* aspect-ratio: 4/3;  */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: gray;
    min-height: 414px;
}

.imagen-pendiente {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.tarjeta-pendiente:hover .imagen-pendiente {
    transform: scale(1.1);
}

.esqueleto-carga {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: carga 1.5s infinite;
}

.esqueleto-carga.h-64 { /* Ajuste para el esqueleto de la imagen */
    aspect-ratio: 4/3;
    height: auto; /* Permite que el aspect-ratio tome efecto */
    min-height: 192px; /* Un valor mínimo para pantallas pequeñas si es necesario */
}

@keyframes carga {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.titulo-pendiente {
    font-weight: 500;
    color: #333;
    /* No es recomendable aplicar aspect-ratio directamente aquí. 
        El padding y la altura del contenedor se encargan de su formato. */
}

.estado-vacio {
    min-height: 60vh;
}